# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# macOS
.DS_Store

# Data 
data/raw/
data/processed/

*.csv
*.parquet
*.duckdb

# Reports 
reports/*.csv
reports/*.parquet
reports/*.duckdb

!reports/*.txt
!reports/*.md
!reports/*.pdf

# Figures/screenshots 
!figures/